@{
    ViewBag.Title = "About";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/hotel.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br /><br /><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            <h3>Welcome to Vacay Home Hotel</h3>

            <p>
                Vacay Home is located in the heart of the historic center of Florence in an extremely characteristic, quite and lively area within short walk distance to all sites and is surrounded by the extraordinary beauty of churches, buildings, shops and monuments. Cellai Hotel is part of a lovingly restored 1800 palace.
                <center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29786.854633437935!2d105.74098529999999!3d21.05840585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1525256087465" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></center>
                On entering this charming hotel in Florence, you will immediately sense its special intimate atmosphere that makes you feel like being in your own florentine home.  Each detail has been passionately chosen and each room deserves a visit. Hotel Cellai style mixes valuable antiques and original artworks with an unexpected eclectic contemporary twist

            </p>
        </div>
    </div>
</div>

