
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/hotel.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br/><br/><br/><h2></h2>
    @{
        if (ViewBag.result == "success")
        {
        <div class="alert alert-success" role="alert">
            <h2 style="color:#3c763d">Has successfully booked.</h2>
            Thank you for your reservation at Vacay Home
        </div>
        <div class="alert alert-warning" role="alert">
            If more than 12 hours since @ViewBag.ngay_vao, booking form will be cancel.<br />
            Please check in at the hotel on time !
        </div>
        }
        else
        {
<div class="alert alert-danger" role="alert">There was an error in the booking process. You can contact room staff to resolve the issue !</div>
        }
    }
    <a href="@Url.Action("Index","Home")">Back to Home</a> | <a href="@Url.Action("BookRoom","Home")">Room has been booked</a>
    <br/><br/>
</div>

